.regions
  %h1 Нас. пункты

  .list
    - @cities.each do |city|
      .region
        = link_to city.title, country_region_cities_path(country_id: params[:country_id], region_id: params[:region_id], city_id: city.cid)
