.new-place
  .sub-title
    margin-top: 30px

  #search-form
    margin-top: 100px
    margin-left: 200px

  #map
    margin-top: 30px
    margin-bottom: 30px

.place-show
  .title
    font-size: 1rem

  .map-info, .reviews
    margin-top: 30px

  .main-info
    .left-block
      .category
        display: block
        margin-top: 10px
        color: gray

      .description
        margin-top: 6px
        margin-bottom: 100px

      .look-at-map
        margin-bottom: 100px

    .right-block
      .images
        margin-top: 30px

        .image1, .image2, .image3
          img
            max-width: 100%
            margin-bottom: 30px

    .share
      margin-bottom: 50px

      .icon
        float: left
        margin-right: 10px

  .map-info
    .address
      .left-block
        margin-right: 50px

      .left-block, .right-block
        display: inline-block

    .place-map
      height: 400px!important

    .near-places
      .place
        display: inline-block

        .rating
          margin-top: 10px

        .name a
          font-size: 0.5rem
          margin-top: 5px
          color: gray

  .reviews
    .date
      .review
        float: left
        margin-right: 20px
        margin-top: 3px

    .user-name
      margin-top: 10px
      font-style: italic

    .text
      margin-top: 6px

    .fa-2x
      color: gray

    .like, .dislike, .complain
      display: inline-block
      margin-right: 20px

  .complain
    a
      color: gray