<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то отправил запрос на смену пароля на сайте Lovemapia.ru. Вы можете сделать это по ссылке ниже.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не отправляла запрос, просто проигнорируйте это письмо.</p>