.regions
  %h1 Регионы

  .col-md-2
    .list
      - @regions.each do |region|
        .region
          = link_to region.name, country_region_cities_path(country_id: params[:country_id], region_id: region.id)

  .col-md-10
    %div{:style => "width: 100%;"}
      #map{:style => "width: 100%; height: 800px;"}

:javascript
  var myLatLng = {lat: parseInt("#{@coordinates.latitude}"), lng: parseInt("#{@coordinates.longitude}")};
  console.log(myLatLng)

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 4,
    center: myLatLng
  });

  var marker = new google.maps.Marker({
    position: myLatLng,
    map: map,
    title: 'Hello World!'
  });