%div.homepage
  #map
  = render 'shared/search_form'
  = render 'shared/map_filter'

:javascript
  var currentLatLng = {lat: parseFloat("#{@latitude}"), lng: parseFloat("#{@longitude}")};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 8,
    center: currentLatLng
  });
  var geocoder = new google.maps.Geocoder();

  document.getElementById('submit').addEventListener('click', function() {
    geocodeAddress(geocoder, map);
  });

  function geocodeAddress(geocoder, resultsMap) {
    var address = document.getElementById('address').value;
    geocoder.geocode({'address': address}, function(results, status) {
      if (status === google.maps.GeocoderStatus.OK) {
        resultsMap.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: resultsMap,
          position: results[0].geometry.location,
          title: 'Hey'
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  $.getJSON("/places", function(json1) {
    $.each(json1, function(key, data) {
      var latLng = new google.maps.LatLng(data.latitude, data.longitude);
      var marker = new google.maps.Marker({
        position: latLng,
        map: map,
        title: data.title,
        icon: this.category.marker_image_url
      });

      var contentString = 
        '<div class="place-content">'+
          '<h1 class="title">' + this.title + '</h1>'+
          '<img src="' + this.rating_image_url + '" class="rating"/>' +
          '<div id="bodyContent">'+
            '<p>' + this.description + 
          '</p>'+
          '<p>Кол-во отзывов: ' + this.reviews_count + '</p>' +
          '<br/>' +
          '<a href="../places/' + this.id + '" class="btn btn-success info-button">Подробнее</a>' + 
        '</div>';

      var infowindow = new google.maps.InfoWindow({
        content: contentString
      });

      marker.addListener('click', function() {
        infowindow.open(map, marker);
      });
    });
  });
