%div{:style => "width: 100%;"}
  #floating-panel
    %input#address{:type => "textbox", :value => "Sydney, NSW"}
      %input#submit{:type => "button", :value => "Найти"}
  #map{:style => "width: 100%; height: 800px;"}

:javascript
  var currentLatLng = {lat: parseFloat("#{@latitude}"), lng: parseFloat("#{@longitude}")};

  var map = new google.maps.Map(document.getElementById('map'), {
    zoom: 8,
    center: currentLatLng
  });
  var geocoder = new google.maps.Geocoder();

  var marker = new google.maps.Marker({
    position: currentLatLng,
    map: map,
    title: 'Hello World!'
  });

  document.getElementById('submit').addEventListener('click', function() {
    geocodeAddress(geocoder, map);
  });

  function geocodeAddress(geocoder, resultsMap) {
    var address = document.getElementById('address').value;
    geocoder.geocode({'address': address}, function(results, status) {
      if (status === google.maps.GeocoderStatus.OK) {
        resultsMap.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
          map: resultsMap,
          position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });
  }

  var infowindow = new google.maps.InfoWindow(), marker, i;

  $.getJSON("http://localhost:3001/places", function(json1) {
      $.each(json1, function(key, data) {
          var latLng = new google.maps.LatLng(data.latitude, data.longitude);
          console.log(data) 
          // Creating a marker and putting it on the map
          var marker = new google.maps.Marker({
              position: latLng,
              map: map,
              title: data.title
          });
      });
  });