%div{:style => "width: 100%;"}
  #map{:style => "width: 100%; height: 800px;"}

:javascript
    var myLatLng = {lat: parseInt("#{@latitude}"), lng: parseInt("#{@longitude}")};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 4,
      center: myLatLng
    });

    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    });